header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 40px;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: auto;
    height:auto; 
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}
.btn-primary {
    display: grid;
    gap : 5px;
    margin : 20px 0;
}
.resetbtn-primary {
    font-size: small;
    height: auto;
    line-height: normal;
    margin:auto;
}
.clearbtn-primary {
    font-size: small;
    height: auto;
    line-height: normal;
    margin:auto;
}
.timer {
    font-size : Bold;
    text-align: center;
    padding : 10px;
}
.timer-count {
    font-size: small;
}
.hide {
    display: none;
}