header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 40px;
    text-emphasis: bold;
}

.container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: auto;
    height:auto; 
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}
.btn-gride {
    display: grid;
    gap : 5px;
    margin : 20px 0;
}

.timer {
    font-size : Bold;
    text-emphasis: Bold;
    text-align: left;
    padding : 10px;
}
.timer-count {
    font-size: small;
}
.hide {
    display: none;
}
.Highscore {
    text-emphasis: bold;
    font-size: Bold;
}